/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* internal resources*/
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/menu_footer.css");


/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.align-center {
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  margin-top: 36px;
}


/* Custom design below! */
