.cards {
  display: flex;
  justify-content: space-between ;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 24px;
  text-align: center;

}

.card img {
  width : 100px;
  height: 100px;
  object-fit: contain;
}
